{% extends 'base.html.twig' %}
{% block body %}
    {% if app.user %}
       {% if app.user.title=='administrator' %}
             {% include('security/usernavbar.html.twig') %}
        {% else %}
             {% include('college/usernavbar.html.twig') %}
        {% endif %}
            <div class="page-wrapper">
                <div class="content container-fluid">
                 <div class="page-header" style="padding-top: 20px;">
						<div class="row align-items-center">
							<div class="col">
                               <h3 class="page-title">Department</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
									<li class="breadcrumb-item active">Department</li>
								</ul>
							</div>
                           <div class="col-auto float-right ml-auto">
								<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#myForm"><i class="fa fa-plus"></i> Add Department</a>
                             </div>
                             <div class="alert col-md-5 col-lg-5 col-sm-12 col-xs-12 offset-4">
                                          {% for messages in app.flashes('danger') %}
                                                   <div class="offset-2" style="padding-bottom: 2%;">
                                                   <span style="color:red;">
                                                     {{ messages }}
                                                   </span>
                                                             </div>
                                               {% endfor %}
                                            </div>
                            <!---START TEST--->
                            <div class="modal fade" id="myForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                              <div class="modal-dialog modal-md" >
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="padding-left:40%;">Add Department</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body" >

                                    <form method="post">
                                        <div class="row g-6" style="padding-bottom:3%;">
                                          <div class="col" >
                                                <label for="dept">Department Name <span style="color:red;">*</span></label>
                                                <input type="text" name="deptname" class="form-control" placeholder="Department  name" aria-label="Department name" id="inputGroup-sizing-default">
                                          </div>

                                        </div>



                                  <div class="modal-footer" style="padding-left:40%;justify-content: flex-start;">
                                    <button type="submit" class="btn btn-block btn-warning" style="width:140px;height:40px;border-radius:30px;">Submit</button>
                                  </div>
                                      </form>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!--END TEST-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="zero_config" class="table table-striped custom-table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Department Name</th>
                                                         <th class="text-right">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   {% for temp,dept in finddept %}
                                                    <tr class="odd">
                                                        <td>{{ temp + 1 }}</td>
                                                        <td>{{ dept.name}}</td>

                                                        <td>
                                                         <a href="/{{ dept.id }}/edit/name" >
                                                             <i class="fa fa-edit font-18" style="color:darkorange;"></i>
                                                              </a>
										                	</td>
                                                     </tr>
                                                  {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- End Container fluid  -->

        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->

        <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>

            {% endif %}
{% endblock %}