{% extends 'base.html.twig' %}
{% block body %}
    {% if app.user %}
        {% if app.user.title=='administrator' %}
             {% include('security/usernavbar.html.twig') %}
        {% elseif app.user.title == 'HoDs' %}
             {% include('college/usernavbar.html.twig') %}
         {% else %}
             {% include('college/userstaff.html.twig') %}
        {% endif %}
            <div class="page-wrapper">
                       <div class="content container-fluid">
                        <div class="page-header" style="padding-top:20px; ">
						<div class="row">
							<div class="col">
                                <h3 class="page-title"><i class="fa fa-user-secret"></i> &nbsp;Update Password</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
									<li class="breadcrumb-item active">Change password</li>
								</ul>
							</div>
                   </div>
                          <div class="card col-12" style="margin-top: 20px;">
                              <div class="card-body col-8 offset-1" >
                                <form  action="{{ path('app_update_pass') }}" method="post" class="mt-5">
                                    <div>
                                        <section>
                                               {% for messages in app.flashes('success') %}
                                                   <div class="offset-2" style="padding-bottom: 2%;">
                                                   <span style="color:red;">
                                                     {{ messages }}
                                                   </span>
                                                             </div>
                                               {% endfor %}
                                            <div class="row g-6" style="padding-bottom: 3%;">
                                                  <div class="col" >
                                                    <label for="userName">Current Password <span style="color:red;">*</span></label>
                                                     <input id="userName" name="oldpass" type="password" placeholder="Current password" class="required form-control">
                                                  </div>
                                            </div>
                                            <div class="row g-6" style="padding-bottom: 3%;">
                                                  <div class="col" >
                                                        <label for="password">New Password <span style="color:red;">*</span></label>
                                                        <input id="password" name="newpass" type="password" placeholder="New password" class="required form-control">
                                                  </div>
                                            </div>
                                            <div class="row g-6" style="padding-bottom: 3%;">
                                                  <div class="col" >
                                                        <label for="confirm">Confirm New Password <span style="color:red;">*</span></label>
                                                        <input id="confirm" name="conf" type="password"  placeholder="Confirm password" class="required form-control">
                                                  </div>
                                            </div>
                                            <div class="row g-6">
                                                  <div class="col" >
                                            <p><span style="color:red;font-size:14px;font-weight: bold;">*</span> Mandatory</p>
                                                  </div>
                                            </div>
                                        </section>
                                      <div class="submit-section">
										<button class="btn btn-primary submit-btn">Update password</button>
									</div>
                                    </div>
                                </form>
                    </div>
                </div>
                      </div>
                       </div>
                    {% endif %}

{% endblock %}