{% extends 'base.html.twig'%}

{% block title %}Welcome To COAF Reset Password Area {% endblock %}

{% block body %}
   <div class="account-page">
		<!-- Main Wrapper -->
        <div class="main-wrapper">
			<div class="account-content">
                <div class="container">
                         <h3 class="account-title">University of Dar es salaam</h3>
                         <div class="account-logo">
                		 <img src="{{asset('/img/udsm.png')}}">
                         </div>
                         <div class="account-box">
                             <div class="account-wrapper">
							<p class="account-subtitle">Enter new password to access your account</p>
                              <form method="post">
                                   {% for messages in app.flashes('dangerToken') %}
								         <div class="alert alert-danger">
                                             {{ messages }}
								            </div>
					                {% endfor %}
                                    <div class="form-group">
                                            <input type="password" name="newpass" class="form-control" placeholder="Enter Password" required autofocus />
                                     </div>
                                     <div class="form-group">
                                            <input type="password" name="confirm" class="form-control" placeholder="Confirm Password" required />
                                     </div>
                                     <div class="form-group text-center">
                                              <button class="account-lost" type="submit" style="color:white;">Reset</button>
                                     </div>
                                 </form>
                             </div>
                     </div>

            </div>
        </div>
         <!-- end main wrapper-->
      </div>
   </div>
{% endblock  %}